body {
  font-size: 87%;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
}
h1 {
  background: url("/img/icon48.png") __MSG_@@bidi_start_edge__ no-repeat;
  display: inline;
  margin: 0;
  padding-bottom: 43px;
  padding-__MSG_@@bidi_start_edge__: 55px;
  padding-top: 40px;
  font-size: 150%;
  font-weight: bold;
}
em {
  font-size: 50%;
  font-weight: normal;
}
#header {
  margin-bottom: 1.05em;
  overflow: hidden;
  padding-bottom: 1.5em;
  padding-__MSG_@@bidi_start_edge__: 0;
  padding-top: 1.5em;
  position: relative;
}
 
a {
  color: blue;
  font-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.extension-template {
  border-bottom: 1px solid #cdcdcd;
  margin: 10px 0;
}

.extension-header {
  background: #ebeff9;
  border-top: 1px solid #b5c7de;
  padding: 3px 5px;
  font-weight: bold;
}

.extension-options {
  background: #f4f6fc;
  border-bottom: 1px solid #edeff5;
  font-size: 85%;
  padding: 0.8em 10px;
}
 
#extension-footer {
  text-align: __MSG_@@bidi_end_edge__;
  padding: 10px 0px;
}

#credits {
  font-size: 85%;
  margin-top: 1em;
  text-align: __MSG_@@bidi_end_edge__;
}

button {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
  border-color: #999;
  color: #222;
}

button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #EBEBEB -webkit-linear-gradient(#F4F4F4, #EFEFEF 40%, gainsboro);
  color: #333;
}