@import url("core.css");

dt {
  width: 15em;
  padding: .5em;
  float: left;
  margin: 0;
}

dd {
  margin-left: 16em;
  padding: .4em;
}


#info-message {
  -webkit-transition-duration: 1s;
  display: none;
  background:#FDFFBD none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 30px;
}