@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  body {
    font-family: 'Roboto';
    margin: 0;
  }
  