@import url("core.css");

body {
  background: url('/img/wallpaper_scroll_top.png') top no-repeat, 
              url('/img/wallpaper_scroll_bottom.png') bottom no-repeat,
              url('/img/wallpaper_scroll_side.png') top repeat-y;
  padding-bottom: 10px;
}

#dateH {
  font-size: 1.2em;
}

#dateA, #dateB, #dateH, #time  {
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px #eee;
}

#time {
  font-size: 0.8em;
}

#content {
  padding: 25px 20px 0px 20px;
}

#error {
 text-align: center;
 margin-top: 50px;
}

#timetable {
  width: 140px;
  border-style: none;
	border-collapse: collapse;
}

#timetable td {
  border-spacing: 2px; 
  padding: 3px; 
}

#timetable td:first-child {
  text-align: __MSG_@@bidi_start_edge__;
  font-weight: bold;
}

#timetable td:last-child {
  text-align: __MSG_@@bidi_end_edge__;
}

#footer {
  margin-top: 3px; 
  margin-right: 10px;
  text-align: __MSG_@@bidi_end_edge__;
}

#footer a {
  color: #000;
}